# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/Flutter/Flutter.podspec
ios/Flutter/Flutter.framework
ios/Flutter/App.framework
ios/Pods/
ios/.generated/
android/.gradle/
android/app/build/
*.g.dart

# IDE
.idea/
*.iml
.vscode/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store

# Logs
*.log

# Other
*.swp
*.swo